# 基本面数据使用说明
目前基本面数据包括balance sheet, income statement 和 cashflow statement

In [1]:
from __future__ import print_function, unicode_literals
import pandas as pd
import datetime
from data_provider.datafeed.financial_feed import FinancialFeed

In [2]:
# universe_ticker可以是指数，e.g.'0003000.SH',也可以是ticker的list
universe_ticker = ['000001.SZ', '000002.SZ', '000009.SZ'] 
begin_day = 20160101 
end_day = 20170731
#report_type list, ['balance_sheet', 'cashflow_statement', 'income_statement'] 中的1-3个
report_types = ['balance_sheet', 'income_statement', 'cashflow_statement'] 
fb = FinancialFeed(universe_ticker=universe_ticker, begin_day=begin_day, end_day=end_day, report_types=report_types)

In [3]:
# 执行load
fb.load_feed()

******************  getting financial_info  ******************
###### getting balance_sheet info ######

###### getting income_statement info ######

###### getting cashflow_statement info ######

## 1. 获取财务数据

In [4]:
# financial_info是一个数祖，item顺序内容对应report_types中基本面数据的顺序
financial_info = fb.financial_info
balance_sheet = fb.financial_info[0]

### 1.1 合并资产负债表

In [5]:
balance_sheet = fb.financial_info[0]
print(balance_sheet.name)
balance_sheet[:10]

balance_sheet

,adjust,announceDate,dataReportPeriod,deadline,intangibleAssets,minorEquity,monetaryFunds,remarks,fixedAssets,ticker,totalAssets,currentAssets,currentLiabilities,totalEquity,totalLiabilities,motherEquity,reportDate
0,1,2016-03-10,20151231,20141231,5.293000e+09,0.000000e+00,0.000000e+00,,0.0,000001.SZ,2.186459e+12,0.000000e+00,0.000000e+00,1.309490e+11,2.055510e+12,1.309490e+11,2014-12-31
1,0,2016-03-10,20151231,20151231,4.961000e+09,0.000000e+00,0.000000e+00,,0.0,000001.SZ,2.507149e+12,0.000000e+00,0.000000e+00,1.615000e+11,2.345649e+12,1.615000e+11,2015-12-31
10,0,2016-03-14,20151231,20151231,1.044991e+09,3.612610e+10,5.318038e+10,,0.0,000002.SZ,6.112956e+11,5.470244e+11,4.200618e+11,1.363096e+11,4.749860e+11,1.001835e+11,2015-12-31
8,1,2016-03-14,20151231,20141231,8.775475e+08,2.772905e+10,6.271525e+10,,0.0,000002.SZ,5.084088e+11,4.648057e+11,3.456540e+11,1.158936e+11,3.925151e+11,8.816457e+10,2014-12-31
3,0,2016-04-21,20160331,20160331,4.838000e+09,0.000000e+00,0.000000e+00,,0.0,000001.SZ,2.681155e+12,0.000000e+00,0.000000e+00,1.875690e+11,2.493586e+12,1.875690e+11,2016-03-31
13,0,2016-04-28,20160331,20160331,1.040903e+09,3.811215e+10,5.278476e+10,,0.0,000002.SZ,6.588375e+11,5.898796e+11,4.568986e+11,1.387489e+11,5.200886e+11,1.006367e+11,2016-03-31
22,0,2016-04-29,20160331,20160331,5.742507e+08,2.301723e+09,3.495287e+09,,0.0,000009.SZ,1.877401e+10,1.267394e+10,7.736345e+09,6.768997e+09,1.200502e+10,4.467273e+09,2016-03-31
20,0,2016-04-29,20151231,20151231,5.430591e+08,2.119943e+09,3.842757e+09,,0.0,000009.SZ,1.811490e+10,1.253447e+10,8.204491e+09,6.592099e+09,1.152280e+10,4.472156e+09,2015-12-31
19,1,2016-04-29,20151231,20141231,5.328657e+08,2.186594e+09,1.988596e+09,,0.0,000009.SZ,1.472550e+10,1.014725e+10,6.150755e+09,5.464128e+09,9.261367e+09,3.277534e+09,2014-12-31
4,0,2016-08-12,20160630,20160630,4.741000e+09,0.000000e+00,0.000000e+00,,0.0,000001.SZ,2.800983e+12,0.000000e+00,0.000000e+00,1.917000e+11,2.609283e+12,1.917000e+11,2016-06-30

返回的字段adjust表示 0 ：调整前, 1：调整后

### 1.2 合并利润分配表

In [6]:
income_statement = fb.financial_info[1]
print(income_statement.name)
income_statement[:10]

income_statement

,adjust,announceDate,basicEPS,dataReportPeriod,deadline,incomeTax,minorNetProfit,netProfit,motherNetProfit,cost,operating_expenses,revenue,operatingProfit,remarks,ticker,totalCost,totalRevenue,totalProfit,reportDate
0,1,2016-03-10,1.440,20151231,20141231,6.392000e+09,0.000000e+00,1.980200e+10,1.980200e+10,4.716100e+10,0.000000e+00,7.340700e+10,2.624600e+10,,000001.SZ,4.716100e+10,7.340700e+10,2.619400e+10,2014-12-31
4,0,2016-03-10,1.560,20151231,20151231,6.981000e+09,0.000000e+00,2.186500e+10,2.186500e+10,6.726800e+10,0.000000e+00,9.616300e+10,2.889500e+10,,000001.SZ,6.726800e+10,9.616300e+10,2.884600e+10,2015-12-31
18,0,2016-03-14,1.640,20151231,20151231,7.853180e+09,7.830032e+09,2.594944e+10,1.811941e+10,1.381506e+11,4.138274e+09,1.955491e+11,3.312278e+10,,000002.SZ,1.659883e+11,1.955491e+11,3.380262e+10,2015-12-31
12,1,2016-03-14,1.430,20151231,20141231,5.964839e+09,3.542070e+09,1.928752e+10,1.574545e+10,1.025571e+11,4.521889e+09,1.463880e+11,2.497936e+10,,000002.SZ,1.255789e+11,1.463880e+11,2.525236e+10,2014-12-31
1,1,2016-04-21,0.410,20160331,20150331,1.808000e+09,0.000000e+00,5.629000e+09,5.629000e+09,8.473000e+09,0.000000e+00,2.067100e+10,7.447000e+09,,000001.SZ,8.473000e+09,2.067100e+10,7.437000e+09,2015-03-31
6,0,2016-04-21,0.430,20160331,20160331,1.943000e+09,0.000000e+00,6.086000e+09,6.086000e+09,1.951800e+10,0.000000e+00,2.753200e+10,8.014000e+09,,000001.SZ,1.951800e+10,2.753200e+10,8.029000e+09,2016-03-31
21,0,2016-04-28,0.075,20160331,20160331,4.374452e+08,4.165905e+08,1.249823e+09,8.332329e+08,9.967697e+09,7.265958e+08,1.461131e+10,1.646601e+09,,000002.SZ,1.334969e+10,1.461131e+10,1.687269e+09,2016-03-31
14,1,2016-04-28,0.059,20160331,20150331,2.762389e+08,2.577938e+08,9.080262e+08,6.502324e+08,5.870110e+09,6.872442e+08,8.894338e+09,1.169823e+09,,000002.SZ,8.086334e+09,8.894338e+09,1.184265e+09,2015-03-31
29,1,2016-04-29,0.030,20160331,20150331,2.135085e+07,5.011084e+07,1.056906e+08,5.557972e+07,5.945829e+08,9.553999e+07,9.033160e+08,1.169121e+08,,000009.SZ,8.934318e+08,9.066971e+08,1.270414e+08,2015-03-31
32,0,2016-04-29,0.500,20151231,20151231,2.704462e+08,1.768878e+08,9.658984e+08,7.890106e+08,3.238027e+09,5.296555e+08,4.865351e+09,1.149742e+09,,000009.SZ,4.771966e+09,4.895401e+09,1.236345e+09,2015-12-31

### 1.3 合并现金流量表

In [7]:
cashflow_statement = fb.financial_info[2]
print(cashflow_statement.name)
cashflow_statement[:10]

cashflow_statement

,adjust,announceDate,longterm_asset_paid_cash,dataReportPeriod,deadline,cash_flows_yield,ticker,reportDate
0,1,2016-03-10,3.835000e+09,20151231,20141231,2.532100e+10,000001.SZ,2014-12-31
4,0,2016-03-10,3.534000e+09,20151231,20151231,-1.826000e+09,000001.SZ,2015-12-31
18,0,2016-03-14,2.063001e+09,20151231,20151231,1.604602e+10,000002.SZ,2015-12-31
12,1,2016-03-14,1.830746e+09,20151231,20141231,4.172482e+10,000002.SZ,2014-12-31
1,1,2016-04-21,1.251000e+09,20160331,20150331,1.149500e+10,000001.SZ,2015-03-31
6,0,2016-04-21,2.360000e+08,20160331,20160331,5.926800e+10,000001.SZ,2016-03-31
21,0,2016-04-28,1.075726e+08,20160331,20160331,-1.072613e+10,000002.SZ,2016-03-31
14,1,2016-04-28,1.660793e+07,20160331,20150331,-1.534442e+10,000002.SZ,2015-03-31
29,1,2016-04-29,1.320711e+08,20160331,20150331,-1.094725e+08,000009.SZ,2015-03-31
32,0,2016-04-29,8.555720e+08,20151231,20151231,1.258639e+07,000009.SZ,2015-12-31

### 1.3 报告期

In [8]:
report_period = fb.report_period
#report_period 表示发布日在时间段内的tickers_rang 内的报告期
print(report_period[:10])

    datetime last_release_date last_report_date     ticker
0 2016-03-10        2016-03-10       2015-12-31  000001.SZ
1 2016-03-11        2016-03-10       2015-12-31  000001.SZ
2 2016-03-14        2016-03-10       2015-12-31  000001.SZ
3 2016-03-15        2016-03-10       2015-12-31  000001.SZ
4 2016-03-16        2016-03-10       2015-12-31  000001.SZ
5 2016-03-17        2016-03-10       2015-12-31  000001.SZ
6 2016-03-18        2016-03-10       2015-12-31  000001.SZ
7 2016-03-21        2016-03-10       2015-12-31  000001.SZ
8 2016-03-22        2016-03-10       2015-12-31  000001.SZ
9 2016-03-23        2016-03-10       2015-12-31  000001.SZ

### 1.4 取股票在特定日期的最新报告期

In [9]:
tickers_range = '600000.SH'
i_date = 20170505
spe_period =fb.get_last_report_period(tickers_range=tickers_range, i_date=i_date)
spe_period[:1]

    datetime last_release_date last_report_date     ticker
0 2017-04-27        2017-04-27       2017-03-31  600000.SH